/* Hiding ScrollBar */
.active_projects
{
  height: 38.2vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.active_projects::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("/public/fonts/gilroy.otf");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("/public/fonts/gilroy-bold.otf");
}